/node_modules
.DS_Store
/yarn-error.log
/lerna-debug.log
/website/build
/website/static/example
/website/node_modules
/examples/minimal/.cache
/examples/minimal/dist
/examples/minimal/node_modules
/examples/kitchen-sink/yarn-error.log
**/dist/**/*.js*
**/dist/**/*.d.ts*
**/junit.xml